html {
    background-image: url(../images/navy-blue.jpg);
    background-repeat: repeat;
    background-size: cover;
}

body {
    background-color: rgba(255, 255, 253, 0);
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    width: 1200px;

}
    
main {
    
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.508), rgba(255, 255, 255, 0.248), rgba(252, 252, 252, 0));
    margin-left: 80px;
    margin-right: 100px;
    border-radius: 20px;
    margin-top: 50px;
}

nav {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.481), rgb(255, 255, 255));
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-family: 'Lalezar', cursive;
    font-size: 0px;
    color: white;
    position: fixed;
    top: 0px;
    right: 80px;
    left: 80px;
}

li {
    display: inline;
    margin: 50px;
    font-size: 30px;
    text-align: center;
}

a:link {
    color: white;
    font-family: 'Lalezar', cursive;
    font-size: 30px;
    text-decoration-style: none;
    text-decoration-line: none; 
    text-decoration: none;
    padding: 0px;
}
a:visited {
    color: rgb(0, 3, 91);
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    text-decoration-style: none;
    text-decoration-line: none; 
    text-decoration: none;
}

a:hover {
    color: rgb(0, 51, 255);
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    transition-duration: 0.3s;
    transition-delay: 0.3;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    text-decoration-style: none;
    text-decoration-line: none; 
    text-decoration: none;
}
a:active {
    color: purple;
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    text-decoration-style: none;
    text-decoration-line: none; 
    text-decoration: none;
}
section {
    margin-top: 50px;
    padding: 10px;
    margin-left: 20px;
}

#firstpar {
    padding-right: 300px;
}

#profile {
    margin-bottom: 20px;
    border-radius: 20px;
    float: right;
    overflow: auto;
    right: 0px;
    width: 250px;
    height: 250px;
}

#spacing {
    height: 300px;
    margin-top: 90px;
}

#firstsec {
    
}



