/* Main image inserted into the html element */
html {
    /* This ensures that the background position and size fits all resolutions **Add multimedia sizes** */
    
}

#main-image {
    background-size: auto;
    position: relative;
}

div.secondary {
    background: url(../images/roots.jpg);
    background-size: auto;
    position: relative;
}

/* The body holds all the text formatting, margin postions, */
body {
    background-image: url(../images/roots.jpg);
    background-color: rgba(255, 255, 253, 0);
    /* This verifies that my website reads my selected font */
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 30px;
    width: 1200px;
}

main {
    
}

nav {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.39);
    text-align: center;
    font-family: 'Lalezar', cursive;
    color: white;
    float: none;
    position: fixed;
    top: 20px;
    right: 80px;
    left: 80px;
}

li {
    display: inline;
    margin: 50px;
    font-size: 30px;
    text-align: center;
}

/* This displays my name and surname in a typing effect */
.center {
    /* Ensures that the text is centered evenly */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Colour and size determined */
    color: white;
    font-size: 30px;
    /* This ensures that no letters is displayed until th animation  */
    overflow: hidden; 
    border-right: .15em solid rgb(255, 153, 0); 
    white-space: nowrap; 
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.45em;
    animation: 
      typing 3.0s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 153, 0); }
}

a:link {
    color: white;
    font-family: 'Lalezar', cursive;
    font-size: 30px;
    text-decoration-style: none;
    text-decoration-line: none; 
    text-decoration: none;
    padding: 0px;
}
a:visited {
    color: rgb(255, 255, 255);
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    text-decoration-style: none;
    text-decoration-line: none; 
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    transition-duration: 0.3s;
    transition-delay: 0.3;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    text-decoration-style: none;
    text-decoration-line: none; 
    text-decoration: none;
}
a:active {
    color: purple;
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    text-decoration-style: none;
    text-decoration-line: none; 
    text-decoration: none;

}
section {
    margin-top: 50px;
    padding-left: 50px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.508), rgba(255, 255, 255, 0.248), rgba(252, 252, 252, 0));
    margin-left: 300px;
    margin-right: 100px;
    border-radius: 20px;
    float: right;

}

#firstpar {
    padding-right: 00px;
}

#profile {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
    float: right;
}

#spacing {
    height: 300px;
    margin-top: 90px;
}

#firstsec {
    
}






